{
  "AppSettings": {
    "Token": "432v5g34f53425324hbv56g5",
    "BaseUrl": "http://localhost:5000",
    "Private": false,
    "DaysUntilTokenExpiration": 3
  },
  "UploadSettings": {
    "MaxSize": 50,
    "MaxFiles": 10,
    "BlockedExtensions": [
      ".jar",
      ".exe",
      ".exec",
      ".msi",
      ".com",
      ".bat",
      ".cmd",
      ".nt",
      ".scr",
      ".ps1",
      ".psm1",
      ".sh",
      ".bash",
      ".bsh",
      ".csh",
      ".bash_profile",
      ".bashrc",
      ".profile"
    ]
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost; Database=CdnNetTest; Uid=root; Pwd=password"
  },
  "LimitSettings": {
    "MaxFiles": 100,
    "MaxAlbums": 20
  },
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "AllowedHosts": "*"
}